.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper__in {
  min-height: calc(100vh - 80px);
  padding: 80px 40px;
}

.actions__wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contract__wrapper,
.actions__block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 20px;
  background-color: var(--background-content-light);
  padding: 30px 20px;

  max-width: 100%;
}

.actions__block_hidden {
  display: none;
}

.contract__text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contract__text__wrapper .contract__text span {
  font-weight: 700;
  line-height: 24px;
}

.contract__text__wrapper .contract__description span {
  font-size: 14px;
  line-height: 17px;

  word-break: break-word;
  white-space: pre-wrap;
}

.block__text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block__text span {
  font-size: 16px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__token {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.form__token .input {
  flex: 1;
}

.form__amount {
  font-size: 14px;
  margin: 0 24px;
  text-align: center;
}

.form__amount span {
  line-height: 24px;
}

.form__button {
  display: flex;
  align-items: center;
}

#updateTimeBlock .form__token,
.form__amount > span:not(:empty) {
  margin-bottom: 10px;
}

.form__amount > span:not(:empty) {
  display: block;
}

.form__amount:empty,
.form__amount > span:empty {
  display: none;
}

.form__button .button {
  flex: 1;
  text-transform: capitalize;
}

.select__in {
  cursor: pointer;
}

@media screen and (max-width: 615px) {
  .wrapper__in,
  .wrapper__in--center {
    padding: 20px;
    min-height: calc(100vh - 40px);
  }
}

@media screen and (min-width: 1000px) {
  .wrapper__in {
    max-width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .netSwitch {
    position: static !important;
    padding: 20px 20px 0px;
  }

  .wrapper__in {
    padding: 40px;
  }
}

@media screen and (max-width: 535px) {
  .form__token .input {
    width: 100%;
  }
  .form__token .select__wrapper {
    width: 100%;
  }
}
