.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper__in {
  padding: 100px;
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: min(570px, 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 20px;
  background-color: var(--background-content-light);
  padding: 40px;
}

.form:not(.form--visible) {
  display: none;
}

.form__address {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.form__address .checkbox__wrapper {
  margin: 0 24px;
  width: 100%;
}

.form__address .input {
  flex: 1;
}

.form__address .button {
  min-width: 150px;
  width: 150px;
}

.form__create {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form__text {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.form__text span {
  font-weight: 700;
  font-size: 24px;
}

.form__address_list {
  display: flex;
  flex-direction: column;
}

.form__address_list:not(:empty) {
  border: 1px solid var(--input-stroke-dark);
  box-sizing: border-box;
  border-radius: 10px;
}

.form__address_list:empty {
  display: none;
}

.form__address_list_block {
  display: flex;
  align-items: center;
}

.form__address_list_block:not(:first-child) {
  border-top: 1px solid var(--input-stroke-dark);
}

.form__address_list,
.form__address_list_block {
  max-width: 100%;
  width: 100%;
}

.form__address_list_block span {
  flex: 1;
  display: inline-block;
  padding: 12px 0 12px 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-all;
}

.form__address_list_block .button {
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
  padding: 0 24px;
  background: none;
  color: black;
}

.form__address_list_block .button:active {
  transform: scale(0.9) !important;
}

.form__address_list_block .button svg {
  width: 16px;
  height: 16px;
}

.form__add_address {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.form__address_title {
  font-size: 16px;
  font-weight: 700;
  margin-left: 24px;
}

@media screen and (max-width: 770px) {
  .form__address .input {
    min-width: 100%;
  }

  .form__address .button {
    flex: 1;
  }

  .form__address_list_block .button {
    flex: 0;
    padding: 0 12px;
  }

  .form__address_list_block span {
    font-size: 14px;
    padding: 12px 0 12px 12px;
  }
}

@media screen and (min-width: 611px) and (max-width: 1000px) {
  .wrapper__in {
    padding: 20px !important;
    min-height: calc(100vh - 79px);
  }
}
